body {
	background: white;
}

.canvas-container, .nocanvas {
	width: 422px;
	margin: auto;
	padding: 10px;
}

canvas, .nocanvas, #info-box{
	background: #f4f7f8;
	border:2px solid #428bca; 
	border-radius:25px;
}

.nocanvas {
	height: 200px;
}

.nocanvas h3 {
	text-align: center;
}
.bottom-controls {
	width: 425px;
	margin: auto;
	text-align: center;
}

.bottom-controls .btn-group {
	padding-top: 5px;
}

#info-box {
	width: 400px;
	height: 35px;
	margin: auto;
	padding: 5px;
	text-align: center;
}

#helpModal img {
	display: block;
	margin: auto;
}

.inp-key {
	padding-bottom: 5px;
}
.inp-key button, .inp-key .btn-default:active, .inp-key .btn-default.active {
  background: #f4f7f8;
	color: #999999;
	border-color: #428bca;
}

.inp-key .btn-default:hover, .inp-key .btn-default:focus
{
  background: #B0E0E6;
	color: #999999;
	border-color: #428bca;
}
